@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');

body{
    font-family: "Rajdhani";
    text-align: justify;
    margin: auto 30%;
}

img{
    width: 100%;
}


h1{
    color: #EC183F;
}

img {
    width: 100%;
}

ul.social {
    text-align: center;
    list-style: none;
}

ul.social li {
    display: inline-block;
}

ul.social li a img {
    width: 40px;
    margin: 10px;
}